
<article class='post col-sm-6 col-md-4'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= post.title %></h3>
          <%= form_tag post_charges_path(post.id) do %>
            <article>
              <label class="amount">
                <span>Amount: $5.00</span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Buy this awesome picture"
                    data-amount="500"></script>
          <% end %>
      </div>
      <div class="panel-body">
        <% if post.picture.present? %>
          <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
        <% end %>

       <section class='tags'>
          <% post.tags.each do |tag| %>
             <%= link_to tag.text, tag %>
          <% end %>
        </section>
      </div>
    </div>
</article>


