<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <!--  <link rel="icon" href="../../favicon.ico"> -->
    <title>Brickagram</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <section class="container">
        <section class="navbar-header">
          <a class="navbar-brand" href="/posts">Brickagram</a>
        </section>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">     
            <% if user_signed_in? %> 
              <%= link_to('#', class:"btn btn-md btn-success", role:"button", data: {toggle: "modal", target: "#myModal" }) do %>
                  New Post
              <% end %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-md btn-danger" %>
             <% else %>
                <%= link_to('#', class:"btn btn-md btn-success", role:"button", data: {toggle: "modal", target: "#signUpModal" }) do %>
                    Sign Up
                  <% end %>
                <%= link_to('#', class:"btn btn-md btn-success", role:"button", data: {toggle: "modal", target: "#signInModal" }) do %>
                    Sign In
                  <% end %>                  
             <% end %>
          </form>
        </div><!--/.navbar-collapse -->
      </section>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Brickagram!</h1>
        <p>The content on this site has been created by <a href="https://github.com/csharpd">Chloe</a> and<a href="https://github.com/nikeshashar"> Nikesh</a> as part of a 12 week coding bootcamp at Makers Academy.</p>
      </div>
    </div>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <%= render "layouts/new_post" %>
    <%= render "layouts/sign_up" %>
    <%= render "layouts/sign_in" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
